.categorias.seccion {
  padding-block: var(--espacio-2);
}

.categorias .contenedor {
  padding-inline: var(--espacio-2);
}

.categorias__grilla {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--espacio-2);
}

@media (min-width: 48rem) {
  .categorias.seccion {
    padding-block: var(--espacio-3);
  }

  .categorias .contenedor {
    padding-inline: var(--espacio-3);
  }

  .categorias__grilla {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--espacio-2);
  }
}