.card {
  position: relative;
  overflow: hidden;
}

.card__visual {
  position: relative;
  height: 420px;
  overflow: hidden;
}

.card__visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__nombre {
  z-index: var(--z-base);
  position: absolute;
  inset-block-end: var(--espacio-2);
  inset-inline-start: var(--espacio-2);
  color: var(--color-fondo-alternativo);
  font-size: 1.5rem;
  font-weight: var(--peso-semibold);
  line-height: var(--linea-titulos);
  text-transform: uppercase;
}

@media (min-width: 48rem) {
  .card__visual {
    height: 520px;
  }

  .card__nombre {
    font-size: 2rem;
  }
}